body {
  background-color: black;
}

* {
  font-family: "Inter";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0 !important;
}

.header {
  background-color: #2A323A;
  padding: 21px 0;
}
.header .container .header_wrapper .header_links {
  gap: 57px;
}
.header .container .header_wrapper .header_links li a {
  color: white;
  text-decoration: none;
}
.header .container .header_wrapper .header_login a {
  color: white;
}

.home {
  background-image: url(/images/home_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 559px;
}
.home .container .home_wrapper {
  padding-top: 68px;
}
.home .container .home_wrapper h1 {
  font-size: 46px;
  font-family: "Habibi";
  color: white;
}
.home .container .home_wrapper .home_link {
  font-size: 18px;
  color: white;
}
.home .container .home_wrapper .home_link img {
  margin-left: 13px;
}

.colletions_area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 575px;
  background-color: #354249;
}
.colletions_area .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colletions_area .container .collections_item {
  width: 100%;
  top: 119.762px;
  color: #FFF;
  text-align: center;
  font-family: Habibi;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.colletions_area .container .collections_item h1 {
  text-align: left;
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.colletions_area .container .collections_item .collections {
  width: 100%;
  display: flex;
  height: 289.121px;
  justify-content: space-between;
  align-items: center;
}
.colletions_area .container .collections_item .collections .collect {
  display: flex;
  width: 100%;
  height: 167px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colletions_area .container .collections_item .collections .collect img {
  width: 100%;
  height: 96.011px;
  padding: 0 5px;
}
.colletions_area .container .collections_item .collections .collect h4 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 17.579px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100px;
}
@media (max-width: 613px) {
  .colletions_area .collect img {
    height: 50.011px !important;
  }
  .colletions_area .collect h4 {
    font-size: 10.579px !important;
    width: 70px;
    padding: 3px;
  }
  .colletions_area .collections {
    height: 120px !important;
  }
}
@media (max-width: 364px) {
  .colletions_area .collections {
    height: 100% !important;
    display: block !important;
  }
  .colletions_area .collect {
    height: 90px !important;
  }
  .colletions_area .collections_item h1 {
    text-align: center !important;
  }
}

.drop_down {
  height: 375px;
  width: 100%;
  background-color: #354249;
  border-bottom: 1px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop_down .dropdown_control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop_down .dropdown_control .for_text {
  width: 85%;
  height: 100%;
}
.drop_down .dropdown_control h1 {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  width: 96%;
  margin: 0 auto !important;
  margin: 25px 0 !important;
}
.drop_down .dropdown_control .dropdown_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.drop_down .dropdown_control .dropdown_item .drop_button_one {
  width: 187px;
  padding: 16.624px 21.684px;
  flex-direction: column;
  justify-content: center;
  gap: 7.228px;
  flex-shrink: 0;
  background: #FFF;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.513);
  margin: 5px 0;
}
.drop_down .dropdown_control .dropdown_item .drop_select {
  width: 187.929px;
  padding: 16.624px 21.684px;
  flex-direction: column;
  justify-content: center;
  gap: 7.228px;
  flex-shrink: 0;
  color: #fff;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.513);
  background: #ff0000;
  margin: 5px 0;
}
.drop_down .dropdown_control .dropdown_item .drop_button {
  width: 187.929px;
  padding: 16.624px 21.684px;
  flex-direction: column;
  justify-content: center;
  gap: 7.228px;
  flex-shrink: 0;
  color: #fff;
  color: black;
  font-weight: 200;
  border: none;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.513);
  margin: 5px 0;
}
@media (max-width: 660px) {
  .drop_down .for_text h1 {
    font-size: 26px;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .drop_down {
    height: 450px;
  }
}/*# sourceMappingURL=style.css.map */