* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: black;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0 !important;
}

.colletions {
  background-color: #384248;
  padding: 119px 0;
  .container {
    .colletions_title {
      color: #FFF;
      font-family: Habibi, sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 62px;
    }

    .collections_wrapper {
      .card-1 {
        margin-bottom: 20px;
        text-align: center;
        text-decoration: none !important;

        img {
          width: 113px;
          height: 102px;
        }

        h4 {
          margin-top: 31px;
          color: #FFF;
          text-align: center;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}

.drop_down {
  height: 375px;
  width: 100%;
  background-color: #354249;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .dropdown_control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .for_text {
      width: 85%;
      height: 100%;
    }
    h1 {
      color: #fff;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      width: 96%;
      margin: 0 auto !important;
      margin: 25px 0 !important;
    }
    .dropdown_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
      .drop_button_one {
        width: 187px;
        padding: 16.624px 21.684px;
        flex-direction: column;
        justify-content: center;
        gap: 7.228px;
        flex-shrink: 0;
        background: #fff;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.513);
        margin: 5px 0;
      }
      .drop_select {
        width: 187.929px;
        padding: 16.624px 21.684px;
        flex-direction: column;
        justify-content: center;
        gap: 7.228px;
        flex-shrink: 0;
        color: #fff;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.513);
        background: #ff0000;
        margin: 5px 0;
      }
      .drop_button {
        width: 187.929px;
        padding: 16.624px 21.684px;
        flex-direction: column;
        justify-content: center;
        gap: 7.228px;
        flex-shrink: 0;
        color: #fff;
        color: black;
        font-weight: 200;
        border: none;
        background-color: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.513);
        margin: 5px 0;
      }
    }
  }

  @media (max-width: 660px) {
    .for_text h1 {
      font-size: 26px;
      text-align: center;
    }
  }
}
@media (max-width: 660px) {
  .drop_down {
    height: 450px;
  }
}

// location

.location_bc{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #354249;

  .location_wrapper{
      height: 100%;
      width: 90%;
      border: 1px solid red;
      display: flex;
      align-items: center;
      


      .img_line{
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .img_line img{
          width: 595.59px;
          height:100%;  
          border-radius: 14.456px;
          background: url(<path-to-image>), 
          lightgray 50% / cover no-repeat;
          
      }
      .text_line{

          height: 350px;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0 auto;
          flex-wrap: nowrap;

          h5{
              color: #FFF;
              font-family: Inter;
              font-size: 28px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0;
              margin-bottom: 18px;
          }
          p{
              color: #FFF;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
          }
          .links_pg a{
              color: #FFF;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
          }
      }
      @media  (max-width:560px) {
          
          .text_line{
              width: 100%;
              text-align: center;
          }
      } 
      .img_line{
          height: 100%;
          width: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
      }
      .img_line img{
          width: 500.59px;
          height: 350.444px;
          margin: 0 auto;
      }
      @media  (max-width:1160px) {
          
          .img_line{
              margin-top: 20px;
          }
      } 
      @media  (max-width:605px) {
          
          .img_line img{
              width: 400.59px;
              height: 250.444px;
          }
      }
      @media  (max-width:605px) {
          
          .img_line img{
              width: 300.59px;
              height: 150.444px;
          }
      }  
      
  }
  @media  (max-width:1160px) {
      .location_wrapper{
         display: block !important;
      }
  }
  

}  
@media  (max-width:1160px) {
  .location_bc{
      height: 100%;
      border: 1px solid red
  }
  .img_line{
      margin-top: 35px;
  }
}

h2 {
  margin-bottom: 0 !important;
}
p {
  padding: 0 !important;
  margin: 0 !important;
}
@import "./parts/header";
@import "./parts/home";
@import "./parts/filter";
@import "./parts/carousel";
@import "./parts/footer";
