* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h3 {
  margin: 0 !important;
}

body {
  background-color: black;
}

h2 {
  margin-bottom: 0 !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0 !important;
}

.contact {
  background-color: #2a323a;
  padding: 142px 0;
}
.contact .container .contact_wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.contact .container .contact_wrapper form .left_inputs input {
  width: 300px;
  height: 57px;
  padding-left: 36px;
  border-radius: 0;
}
.contact .container .contact_wrapper form .left_inputs .input-1 {
  margin-bottom: 48px;
}
.contact .container .contact_wrapper form .left_inputs ::-moz-placeholder {
  color: #000;
  font-size: 18.793px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.contact .container .contact_wrapper form .left_inputs ::placeholder {
  color: #000;
  font-size: 18.793px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.contact .container .contact_wrapper form .textarea textarea {
  height: 208px;
  border-radius: 0;
}
.contact .container .contact_wrapper form .textarea ::-moz-placeholder {
  color: #ccc;
  font-size: 18.793px;
  font-weight: 400;
}
.contact .container .contact_wrapper form .textarea ::placeholder {
  color: #ccc;
  font-size: 18.793px;
  font-weight: 400;
}
.contact .container .contact_wrapper form .form_btn button {
  background-color: #ec1a13;
  width: 262px;
  height: 56px;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .contact .container .contact_wrapper form .left_inputs input {
    width: 100%;
    height: 57px;
    padding-left: 36px;
    border-radius: 0;
  }
  .contact .container .contact_wrapper form .left_inputs .input-1 {
    margin-bottom: 15px;
  }
  .contact .container .contact_wrapper form .left_inputs ::-moz-placeholder {
    color: #000;
    font-size: 18.793px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .contact .container .contact_wrapper form .left_inputs ::placeholder {
    color: #000;
    font-size: 18.793px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .contact .container .contact_wrapper form .textarea textarea {
    height: 208px;
    border-radius: 0;
  }
  .contact .container .contact_wrapper form .textarea ::-moz-placeholder {
    color: #ccc;
    font-size: 18.793px;
    font-weight: 400;
  }
  .contact .container .contact_wrapper form .textarea ::placeholder {
    color: #ccc;
    font-size: 18.793px;
    font-weight: 400;
  }
  .contact .container .contact_wrapper form .form_btn button {
    background-color: #ec1a13;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
  }
}
.colletions {
  background-color: #384248;
  padding: 119px 0;
}
.colletions .container .colletions_title {
  color: #fff;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 62px;
}
.colletions .container .collections_wrapper .card-1 {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none !important;
}
.colletions .container .collections_wrapper .card-1 img {
  width: 113px;
  height: 102px;
}
.colletions .container .collections_wrapper .card-1 h4 {
  margin-top: 31px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 992px) {
  .colletions_title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .colletions {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .colletions .container .colletions_title {
    font-size: 28px !important;
  }
}
.contact {
  background-color: #2a323a;
  padding: 142px 0;
}
.contact .container .contact_wrapper .contact_title {
  text-align: center;
  color: white;
}

.location {
  background: #384248;
  padding: 150px 0;
  color: white;
}
.location .container .location_wrapper .location_text h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}
.location .container .location_wrapper .location_text p {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}
.location .container .location_wrapper .location_text .social_links h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.location .container .location_wrapper .location_map iframe {
  width: 100%;
  border-radius: 14px;
}

@media (max-width: 992px) {
  .location {
    padding: 100px 0;
  }
  .location .container .location_wrapper .location_text h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
  }
  .location .container .location_wrapper .location_text p {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
  }
  .location .container .location_wrapper .location_text .social {
    padding-top: 50px !important;
  }
  .location .container .location_wrapper .location_text .social_links h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .location .container .location_wrapper .location_map {
    margin-top: 20px;
  }
  .location .container .location_wrapper .location_map iframe {
    width: 100%;
    border-radius: 14px;
  }
}
@media (max-width: 768px) {
  .location .container .location_wrapper .location_text h3 {
    font-size: 25px;
  }
  .location .container .location_wrapper .location_text p {
    color: #fff;
    font-size: 15px;
  }
  .location .container .location_wrapper .location_text .social_links h6 {
    font-size: 17px;
  }
}
.header {
  background-color: #2a323a;
  padding: 21px 0;
}
.header .container .header_wrapper .header_links {
  gap: 57px;
}
.header .container .header_wrapper .header_links li a {
  color: white;
  text-decoration: none;
}
.header .container .header_wrapper .header_login a {
  color: white;
}
.header .container .header_wrapper .header_login .bars {
  margin-left: 20px;
  display: none;
}

@media (max-width: 992px) {
  .header .container .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .container .header_wrapper .header_links {
    position: fixed;
    left: -500%;
    width: 50%;
    background-color: #2a323a;
    filter: drop-shadow(-35px 24px 100px #000000);
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }
  .header .container .header_wrapper .nav_active {
    left: 0 !important;
  }
  .header .container .header_wrapper .header_login .bars {
    display: block;
    cursor: pointer;
  }
}
@media (max-width: 560px) {
  .header .container .header_wrapper .header_logo img {
    width: 120px;
  }
  .header .container .header_wrapper .header_links {
    width: 70%;
  }
}
.home {
  background-image: url(/images/home_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 580px;
}
.home .container .home_wrapper {
  padding-top: 68px;
}
.home .container .home_wrapper h1 {
  font-size: 46px;
  font-family: "Habibi";
  color: white;
}
.home .container .home_wrapper .home_link {
  font-size: 18px;
  color: white;
}
.home .container .home_wrapper .home_link img {
  margin-left: 13px;
}

@media (max-width: 992px) {
  .home .container .home_wrapper a {
    margin-top: 20px;
    justify-content: left !important;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .home .container .home_wrapper h1 {
    font-size: 35px;
  }
}
.filter {
  background-color: #384248;
  padding: 116px 0;
}
.filter .container .filter_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.filter .container .filter_wrapper .filter_title {
  color: #fff;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 48px;
  margin-left: 88px;
}
.filter .container .filter_wrapper .filter_wrap_in .col-11 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 0;
  padding-right: 0;
}
.filter .container .filter_wrapper .filter_wrap_in .col-11:nth-child(5) {
  border-right: 0px solid rgba(0, 0, 0, 0.3);
  padding-left: 0;
  padding-right: 0;
}
.filter .container .filter_wrapper .filter_wrap_in ::-moz-placeholder {
  color: #000;
}
.filter .container .filter_wrapper .filter_wrap_in ::placeholder {
  color: #000;
}

@media (max-width: 992px) {
  .filter_title {
    margin-left: 45px !important;
  }
}
@media (max-width: 576px) {
  .filter_title {
    margin-left: 0px !important;
    font-size: 28px !important;
  }
}
/* Style for the custom select container */
.custom-select {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

/* Style for the visible part of the select */
.select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 16px 20px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
}

.select-box-kuziv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
}

/* Style for the dropdown arrow */
.select-arrow {
  margin-left: 10px;
}

/* Style for the dropdown list */
.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  z-index: 1;
  display: none;
}

/* Style for individual options in the dropdown list */
.select-option {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
}

/* Hover effect for options */
.select-option:hover {
  background-color: #f0f0f0;
}

.filter_input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 16px 20px;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter_btn {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 16px 20px;
  background-color: #ed1a13;
  color: #fff;
  font-size: 17.35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel {
  background-color: #2a323a;
  padding: 93px 0;
}
.carousel .carousel_title {
  color: #fff;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 75px;
}
.carousel .swiper-wrapper .swiper-slide {
  display: grid;
  grid-template-columns: auto auto;
}
.carousel .swiper-wrapper .swiper-slide .swiper_img img {
  width: 100%;
}
.carousel .swiper-wrapper .swiper-slide .about_car {
  margin-left: 88px;
  color: white;
  position: relative;
}
.carousel .swiper-wrapper .swiper-slide .about_car h4 {
  font-size: 26.021px;
  font-weight: 600;
  margin-bottom: 39px;
}
.carousel .swiper-wrapper .swiper-slide .about_car .car_p {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.carousel .swiper-wrapper .swiper-slide .about_car .car_p p {
  font-size: 22px;
  font-weight: 500;
}
.carousel .swiper-wrapper .swiper-slide .about_car .about_car_link {
  position: absolute;
  bottom: 30px;
}
.carousel .swiper-wrapper .swiper-slide .about_car .about_car_link a {
  color: white;
  font-size: 18.79px;
  font-weight: 400;
}
.carousel .swiper-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.carousel .swiper-bottom .swiper-button-prevv {
  transform: rotate(-180deg);
  padding: 20px;
}
.carousel .swiper-bottom .swiper-button-nextt {
  padding: 20px;
}

@media (max-width: 1200px) {
  .carousel {
    padding: 60px 0;
  }
  .carousel .carousel_title {
    color: white;
    text-align: center;
    padding-bottom: 75px;
  }
  .carousel .swiper-wrapper .swiper-slide .swiper_img img {
    width: 100%;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car {
    margin-left: 80px;
    color: white;
    position: relative;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car h4 {
    font-size: 26.021px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p p {
    font-size: 18px;
    font-weight: 500;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link {
    position: absolute;
    bottom: 20px;
    margin-top: 50px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link a {
    color: white;
    font-size: 18.79px;
    font-weight: 400;
  }
}
@media (max-width: 992px) {
  .carousel {
    padding: 60px 0;
  }
  .carousel .carousel_title {
    color: white;
    text-align: center;
    padding-bottom: 75px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car {
    margin-left: 30px;
    color: white;
    position: relative;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car h4 {
    font-size: 26.021px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p p {
    font-size: 16px;
    font-weight: 500;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link {
    position: unset;
    margin-top: 30px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link a {
    color: white;
    font-size: 18.79px;
    font-weight: 400;
  }
  .carousel .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: white;
  }
}
@media (max-width: 768px) {
  .carousel .swiper-wrapper .swiper-slide .about_car {
    margin-left: 30px;
    color: white;
    position: relative;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p p {
    font-size: 13px;
    font-weight: 500;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link {
    position: unset;
    margin-top: 30px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link a {
    color: white;
    font-size: 14px;
    font-weight: 400;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link a img {
    width: 25px;
    margin-left: 10px;
  }
  .swiper-bottom .swiper-button-prevv {
    transform: rotate(-180deg);
    padding: 20px;
  }
  .swiper-bottom .swiper-button-prevv img {
    width: 30px;
  }
  .swiper-bottom .swiper-button-nextt {
    padding: 20px;
  }
  .swiper-bottom .swiper-button-nextt img {
    width: 30px;
  }
}
@media (max-width: 576px) {
  .carousel .carousel_title {
    font-size: 28px !important;
  }
  .carousel .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car {
    margin-left: 0;
    margin-top: 20px;
    color: white;
    position: relative;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car h4 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .car_p p {
    font-size: 15px;
    font-weight: 500;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link {
    position: unset;
    margin-top: 20px;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link a {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
  .carousel .swiper-wrapper .swiper-slide .about_car .about_car_link a img {
    width: 20px;
    margin-left: 10px;
  }
  .carousel .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: white;
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: auto !important;
}

.swiper-pagination {
  position: unset !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: var(--swiper-pagination-bullet-opacity, 1);
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: white;
}

.footer {
  background-color: #2e363e;
  padding: 113px 0;
}
.footer .container .footer_wrapper .footer_logo_text {
  display: flex;
  flex-direction: column;
}
.footer .container .footer_wrapper .footer_logo_text span {
  color: #bfbfbf;
  font-size: 12px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 12px;
}
.footer .container .footer_wrapper .footer_logo_text p {
  color: #bfbfbf;
  font-size: 11.565px;
  font-weight: 400;
}
.footer .container .footer_wrapper .footer_right {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer .container .footer_wrapper .footer_right .footer_number {
  color: #fff;
  font-size: 18.793px;
  font-weight: 400;
  text-decoration: none;
}
.footer .container .footer_wrapper .footer_right .footer_number img {
  margin-right: 10px;
}
.footer .container .footer_wrapper .footer_right .footer_time {
  color: #bfbfbf;
  font-size: 11.565px;
  font-weight: 400;
  margin-top: 14px;
}
.footer .container .footer_wrapper .footer_right .footer_email {
  color: #fff;
  font-size: 18.793px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 27px;
}
.footer .container .footer_wrapper .footer_right .footer_social_icons {
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 33px;
}

@media (max-width: 992px) {
  .footer {
    padding: 80px 0;
  }
  .footer .container .footer_wrapper .footer_logo_text {
    display: flex;
    flex-direction: column;
  }
  .footer .container .footer_wrapper .footer_logo_text span {
    color: #bfbfbf;
    font-size: 12px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 12px;
  }
  .footer .container .footer_wrapper .footer_logo_text p {
    color: #bfbfbf;
    font-size: 11.565px;
    font-weight: 400;
  }
  .footer .container .footer_wrapper .footer_right {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .footer .container .footer_wrapper .footer_right .footer_number {
    color: #fff;
    font-size: 18.793px;
    font-weight: 400;
    text-decoration: none;
  }
  .footer .container .footer_wrapper .footer_right .footer_number img {
    margin-right: 10px;
  }
  .footer .container .footer_wrapper .footer_right .footer_time {
    color: #bfbfbf;
    font-size: 11.565px;
    font-weight: 400;
    margin-top: 14px;
  }
  .footer .container .footer_wrapper .footer_right .footer_email {
    color: #fff;
    font-size: 18.793px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 27px;
  }
  .footer .container .footer_wrapper .footer_right .footer_social_icons {
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 33px;
  }
}/*# sourceMappingURL=style.css.map */