* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter",sans-serif;
}
h3 {
  margin: 0 !important;
}
body {
  background-color: black;
}
h2 {
  margin-bottom: 0 !important;
}
p {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0 !important;
}

.contact {
  background-color: #2a323a;
  padding: 142px 0;
  .container {
    .contact_wrapper {
      max-width: 960px;
      margin: 0 auto;

      form {
        .left_inputs {
          input {
            width: 300px;
            height: 57px;
            padding-left: 36px;
            border-radius: 0;
          }
          .input-1 {
            margin-bottom: 48px;
          }
          ::placeholder {
            color: #000;
            font-size: 18.793px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
          }
        }
        .textarea {
          textarea {
            height: 208px;
            border-radius: 0;
          }
          ::placeholder {
            color: #ccc;
            font-size: 18.793px;
            font-weight: 400;
          }
        }
        .form_btn {
          button {
            background-color: #ec1a13;
            width: 262px;
            height: 56px;
            color: white;
            border: none;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .contact {
    .container {
      .contact_wrapper {
        form {
          .left_inputs {
            input {
              width: 100%;
              height: 57px;
              padding-left: 36px;
              border-radius: 0;
            }
            .input-1 {
              margin-bottom: 15px;
            }
            ::placeholder {
              color: #000;
              font-size: 18.793px;
              font-style: normal;
              font-weight: 200;
              line-height: normal;
            }
          }

          .textarea {
            textarea {
              height: 208px;
              border-radius: 0;
            }
            ::placeholder {
              color: #ccc;
              font-size: 18.793px;
              font-weight: 400;
            }
          }
          .form_btn {
            button {
              background-color: #ec1a13;
              width: 150px;
              height: 50px;
              color: white;
              border: none;
            }
          }
        }
      }
    }
  }
}
.colletions {
  background-color: #384248;
  padding: 119px 0;
  .container {
    .colletions_title {
      color: #fff;
      font-family: "Inter";
      font-size: 36px;
      font-weight: 400;
      padding-bottom: 62px;
    }

    .collections_wrapper {
      .card-1 {
        margin-bottom: 20px;
        text-align: center;
        text-decoration: none !important;

        img {
          width: 113px;
          height: 102px;
        }

        h4 {
          margin-top: 31px;
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .colletions_title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .colletions {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .colletions {
    .container {
      .colletions_title {
        font-size: 28px !important;
      }
    }
  }
}

// location
.contact {
  background-color: #2a323a;
  padding: 142px 0;
  .container {
    .contact_wrapper {
      .contact_title {
        text-align: center;
        color: white;
      }
    }
  }
}
.location {
  background: #384248;
  padding: 150px 0;
  color: white;
  .container {
    .location_wrapper {
      .location_text {
        h3 {
          color: #fff;
          font-size: 36px;
          font-weight: 400;
        }
        p {
          color: #fff;
          font-size: 19px;
          font-weight: 400;
        }
        .social_links {
          h6 {
            color: #fff;
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
      .location_map {
        iframe {
          width: 100%;
          border-radius: 14px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .location {
    padding: 100px 0;
    .container {
      .location_wrapper {
        .location_text {
          h3 {
            color: #fff;
            font-size: 36px;
            font-weight: 400;
          }
          p {
            color: #fff;
            font-size: 19px;
            font-weight: 400;
          }
          .social {
            padding-top: 50px !important;
          }
          .social_links {
            h6 {
              color: #fff;
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
        .location_map {
          margin-top: 20px;
          iframe {
            width: 100%;
            border-radius: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .location {
    .container {
      .location_wrapper {
        .location_text {
          h3 {
            font-size: 25px;
          }
          p {
            color: #fff;
            font-size: 15px;
          }
          .social_links {
            h6 {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
@import "./parts/header";
@import "./parts/home";
@import "./parts/filter";
@import "./parts/carousel";
@import "./parts/footer";
