body {
  background-color: black;
}

* {
  transition: 0.1s ease;
  font-family: "Inter";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0 !important;
}

.colletions {
  background-color: #384248;
  padding: 119px 0;
  .container {
    .collections_wrapper {
      .colletions_title {
        color: white;
      }
      .card-1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        h4 {
          margin-top: 29px;
          color: white;
        }
      }
    }
  }
}

.drop_down {
  height: 375px;
  width: 100%;
  background-color: #354249;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .dropdown_control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .for_text {
      width: 85%;
      height: 100%;
    }
    h1 {
      color: #fff;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      width: 96%;
      margin: 0 auto !important;
      margin: 25px 0 !important;
    }
    .dropdown_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
      .drop_button_one {
        width: 187px;
        padding: 16.624px 21.684px;
        flex-direction: column;
        justify-content: center;
        gap: 7.228px;
        flex-shrink: 0;
        background: #fff;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.513);
        margin: 5px 0;
      }
      .drop_select {
        width: 187.929px;
        padding: 16.624px 21.684px;
        flex-direction: column;
        justify-content: center;
        gap: 7.228px;
        flex-shrink: 0;
        color: #fff;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.513);
        background: #ff0000;
        margin: 5px 0;
      }
      .drop_button {
        width: 187.929px;
        padding: 16.624px 21.684px;
        flex-direction: column;
        justify-content: center;
        gap: 7.228px;
        flex-shrink: 0;
        color: #fff;
        color: black;
        font-weight: 200;
        border: none;
        background-color: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.513);
        margin: 5px 0;
      }
    }
  }

  @media (max-width: 660px) {
    .for_text h1 {
      font-size: 26px;
      text-align: center;
    }
  }
}
@media (max-width: 660px) {
  .drop_down {
    height: 450px;
  }
}

h2 {
  margin-bottom: 0 !important;
}
p {
  padding: 0 !important;
  margin: 0 !important;
}
@import "./parts/header";
@import "./parts/home";
@import "./parts/filter";
@import "./parts/carousel";
@import "./parts/footer";
