.carousel {
  background-color: #2a323a;
  padding: 93px 0;
  .carousel_title {
    color: white;
    text-align: center;
    padding-bottom: 75px;
  }
  .swiper-wrapper {
    .swiper-slide {
      display: grid;
      grid-template-columns: auto auto;
      .swiper_img {
        img {
          width: 100%;
        }
      }
      .about_car {
        margin-left: 88px;
        color: white;
        position: relative;
        h4 {
          font-size: 26.021px;
          font-weight: 600;
          margin-bottom: 39px;
        }
        .car_p {
          display: flex;
          flex-direction: column;
          gap: 12px;
          p {
            font-size: 22px;
            font-weight: 500;
          }
        }
        .about_car_link {
          position: absolute;
          bottom: 30px;

          a {
            color: white;
            font-size: 18.79px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .swiper-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    .swiper-button-prevv {
      transform: rotate(-180deg);
      padding: 20px;
    }
    .swiper-button-nextt {
      padding: 20px;
    }
  }
}
@media (max-width: 1200px) {
  .carousel {
    padding: 60px 0;
    .carousel_title {
      color: white;
      text-align: center;
      padding-bottom: 75px;
    }
    .swiper-wrapper {
      .swiper-slide {
        .swiper_img {
          img {
            width: 100%;
          }
        }
        .about_car {
          margin-left: 80px;
          color: white;
          position: relative;
          h4 {
            font-size: 26.021px;
            font-weight: 600;
            margin-bottom: 20px;
          }
          .car_p {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
              font-size: 18px;
              font-weight: 500;
            }
          }
          .about_car_link {
            position: absolute;
            bottom: 20px;
            margin-top: 50px;
            a {
              color: white;
              font-size: 18.79px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .carousel {
    padding: 60px 0;
    .carousel_title {
      color: white;
      text-align: center;
      padding-bottom: 75px;
    }
    .swiper-wrapper {
      .swiper-slide {
        .about_car {
          margin-left: 30px;
          color: white;
          position: relative;
          h4 {
            font-size: 26.021px;
            font-weight: 600;
            margin-bottom: 20px;
          }
          .car_p {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
              font-size: 16px;
              font-weight: 500;
            }
          }
          .about_car_link {
            position: unset;
            margin-top: 30px;
            a {
              color: white;
              font-size: 18.79px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .swiper-pagination-bullet {
      width: 10px !important;
      height: 10px !important;
      background-color: white;
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    .swiper-wrapper {
      .swiper-slide {
        .about_car {
          margin-left: 30px;
          color: white;
          position: relative;
          h4 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
          }
          .car_p {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
              font-size: 13px;
              font-weight: 500;
            }
          }
          .about_car_link {
            position: unset;
            margin-top: 30px;
            a {
              color: white;
              font-size: 14px;
              font-weight: 400;
              img {
                width: 25px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .swiper-bottom {
    .swiper-button-prevv {
      transform: rotate(-180deg);
      padding: 20px;
      img {
        width: 30px;
      }
    }
    .swiper-button-nextt {
      padding: 20px;
      img {
        width: 30px;
      }
    }
  }
}
@media (max-width: 576px) {
  .carousel {
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        .about_car {
          margin-left: 0;
          margin-top: 20px;
          color: white;
          position: relative;
          h4 {
            font-size: 23px;
            font-weight: 600;
            margin-bottom: 15px;
          }
          .car_p {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
              font-size: 15px;
              font-weight: 500;
            }
          }
          .about_car_link {
            position: unset;
            margin-top: 20px;
            a {
              color: white;
              font-size: 16px;
              font-weight: 400;
              img {
                width: 20px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    .swiper-pagination-bullet {
      width: 10px !important;
      height: 10px !important;
      background-color: white;
    }
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: auto !important;
}
.swiper-pagination {
  position: unset !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: var(--swiper-pagination-bullet-opacity, 1);
}
.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: white;
}
