.filter {
  background-color: #384248;
  padding: 116px 0;
  .container {
    .filter_wrapper {
      .filter_title {
        color: #fff;
        font-family: "Inter";
        font-size: 36px;
        font-weight: 400;
      }
    }
  }
}
