.header {
  background-color: #2a323a;
  padding: 21px 0;
  .container {
    .header_wrapper {
      .header_links {
        gap: 57px;
        li {
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
      .header_login {
        a {
          color: white;
        }
        .bars {
          margin-left: 20px;
          display: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    .container {
      .header_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header_links {
          position: fixed;
          left: -500%;
          width: 50%;
          background-color: #2a323a;
          filter: drop-shadow(-35px 24px 100px #000000);
          top: 0;
          height: 100vh;
          display: flex;
          flex-direction: column;
          z-index: 100;
        }
        .nav_active {
          left: 0 !important;
        }
        .header_login {
          .bars {
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .header {
    .container {
      .header_wrapper {
        .header_logo img {
          width: 120px;
        }
        .header_links {
          width: 70%;
        }
      }
    }
  }
}
